@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  font-family: "Poppins", sans-serif;
}

header {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover::before {
  width: 100%;
}

section {
  padding: 100px 200px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background: #2696e9; */
}

.home:before {
  z-index: 777;
  content: "";
  position: absolute;
  /* background: rgba(3, 96, 251, 0.3); */
  /* background: rgba(100, 145, 149, 0.3); */
  background: rgba(1, 153, 255, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 500;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #fff;
  padding: 15px 35px;
  color: #1680ac;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}

.home .media-icons a {
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slidar-navigation {
  z-index: 888;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 12px;
}

.slidar-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slidar-navigation .nav-btn.active {
  background: #2696e9;
}

.slidar-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slidar-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #fff;
    font-size: 1em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #e2e0e0;
    height: 3px;
  }

  header .navigation.active .navigation-items {
    background: #4eadf5;

    width: 500px;
    max-width: 500px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1, 1, 1 / 20%);
  }

  .menu-btn {
    background: url(./png-img/menu-bluebar.png) no-repeat;
    color: #fff;
    background-size: 34px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 888;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(./png-img/letter-x.png) no-repeat;
    background-position: center;
    background-size: 35px;
    transition: 0.3s ease;
  }
}

/* 
here end of nav and video section */

/* here animated katha start */

/* .animatied-katha {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e3e3;
}

.animatied-katha .content {
  position: relative;
}

.animatied-katha a {
  margin-top: 40px;
  height: 100%;
  width: 150px;
  border-radius: 5px;
  background: #1680ac;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #e2e0e0;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 5px 10px;
}
.content h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 6em;
  padding-left: 2000px;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
} */

/* here animated katha ends */

/* scroll animation css start here */

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
  /* background: rgb(167, 195, 180); */
  /* 
  background: rgb(76, 139, 145); */
  /* 
  background: rgb(100, 145, 149); */
  background: #010101de;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 5em;
  margin-bottom: 80px;
  color: #d3d2d2;
}

.first-content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-content .image {
  position: relative;
  width: 800px;
  height: 450px;
  overflow: hidden;
}

.first-content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.first-content .text-box {
  z-index: 222;
  /* background: rgba(122, 197, 234, 0.1); */
  /* background: #71dbf26a; */
  background: #2695e947;
  backdrop-filter: blur(20px);
  padding: 80px;
  max-width: 500px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-200px, 200px);
}

.first-content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

/* second section start */

.second-content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-content .image {
  position: relative;
  width: 800px;
  height: 450px;
  overflow: hidden;
}

.second-content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.second-content .text-box {
  z-index: 222;
  /* background: rgba(255, 255, 255, 0.1); */
  /* background: #50ceea6a; */

  background: #2695e947;
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(52px, 50px);
}

.second-content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

/* scroll animation css ends here */

/* footer starts here */

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  background: url(./img2/conor-luddy-IVaKksEZmZA-unsplash.jpg);
  background-size: contain;
  opacity: 0.8;
}

.foot {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foot .social-icon,
.foot .menu {
  list-style: none;
}

.foot .social-icon img {
  position: absolute;
  top: 10px;

  left: 170px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.foot .social-icon a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.foot .social-icon a:hover {
  transform: translateY(-10px);
}

.foot .menu {
  display: flex;
  justify-content: center;
}

.foot .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

.foot .menu li a:hover {
  opacity: 1;
}

.foot p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 0.8em;
}

.waves .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./image/wave.png);
  background-size: 1000px 100px;
}

.waves .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
.waves .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

.waves .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave_03 3s linear infinite;
}
.waves .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_04 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
/* footer ends here */

/* rgb(137,204,236) */
